@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbars in Webkit browsers */
.hide-scrollbar-webkit {
    overflow: scroll; /* Or 'auto' */
  }
  
  .hide-scrollbar-webkit::-webkit-scrollbar {
    display: none; /* Hides scrollbar in Webkit browsers */
  }
  
  /* Hide scrollbars in Firefox */
.hide-scrollbar-firefox {
    scrollbar-width: none; /* Hides scrollbar in Firefox */
  }

  @layer components {
    .shopping-btn {
      @apply border rounded-lg h-20 lg:h-16 w-full text-5xl lg:text-3xl flex justify-center items-center duration-200 hover:bg-white hover:text-black;
    }
    
  }