@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbars in Webkit browsers */
.hide-scrollbar-webkit {
    overflow: scroll; /* Or 'auto' */
  }
  
  .hide-scrollbar-webkit::-webkit-scrollbar {
    display: none; /* Hides scrollbar in Webkit browsers */
  }
  
  /* Hide scrollbars in Firefox */
.hide-scrollbar-firefox {
    scrollbar-width: none; /* Hides scrollbar in Firefox */
  }

  @layer components {
    .shopping-btn {
      @apply border rounded-lg h-20 lg:h-16 w-full text-5xl lg:text-3xl flex justify-center items-center duration-200 hover:bg-white hover:text-black;
    }

    .form-input {
      @apply bg-lightGray/10 placeholder:text-gray block w-full p-4 rounded-xl;
    }
    
    .checked {
      @apply h-5 w-5 cursor-pointer rounded-full border border-slate-300 checked:border-black transition-all
    }

  }


  .background-animate {
    background-size: 400%;

    -webkit-animation: bg-animation 7s ease infinite;
    -moz-animation: bg-animation 7s ease infinite;
    animation: bg-animation 7s ease infinite;
  }

  @keyframes bg-animation {
    0%,
    100% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
  }